* {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;

}

body {
  background-color: black;
}

#jumbotron {
  margin-top: 2rem;
  background: linear-gradient(to bottom right, rgb(151, 243, 189), rgb(247, 168, 230));
  border-radius: 25px;
  height: 100%;
}

.buttons {
  color: white;
  font-weight: 700;
  border: none;
}

.button-pink {
  background-color: rgb(255, 20, 184);
}

.button-green {
  background-color: rgb(151, 243, 189);
  color: black;
}

.name-ff {
  letter-spacing: -4px;
  font-weight: 700;
}

#logo {
  width:80px;
  height:80px;
}